html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #38DCC8;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000a2;
}


svg {
    fill: #000000a2;
}

svg:hover {
    fill: #38DCC8;
}

section {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

section:first-of-type {
    text-transform: uppercase;
}

section:first-of-type,
section:nth-of-type(3) {
    color: #fff;
    text-shadow: 0 0 5px #00000066;
}

section:nth-of-type(2) {
    background: #38DCC8;
}

section:nth-of-type(1) {
    background-image: url(../img/ld-08.jpg);
}

section:nth-of-type(3) {
    background-image: url(../img/dz-06.jpg);
}

section:nth-of-type(4) {
    background-color: #38DCC8;
}

section:nth-of-type(5) {
    background-color: #38DCC8;
}

footer {
    flex-direction: column;
    color: #38DCC8;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutMe {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe-photoWithBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/2.png);
    background-position: center top;
    background-size: cover;
    width: 90%;
    height: 50vh;
    box-shadow: 0 0 25px 1px #38DCC8 inset;
}

.aboutMe-photoWithBorder-border {
    width: 80%;
    height: 80%;
    padding: 10px;
    text-align: left;
    color: #fff;
    font-size: 2.3rem;
    border: 10px solid #fff;
    text-transform: uppercase;
}

.aboutMe-text {
    color: #fff;
    font-size: 1.5rem;
}

.category {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 2px #000;
}

.category-leadingOfEvent,
.category-dj,
.category-parodist {
    border: 9px solid #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 30px 0;
    padding: 20px 0;
    cursor: pointer;
}

.category-leadingOfEvent {
    background-color: #91E8DD;
}

.category-dj {
    background-color: #38DCC8
}

.category-parodist {
    background-color: #259385;
}

.category-leadingOfEvent:hover,
.category-dj:hover,
.category-parodist:hover {
    transition: .3s;
    background-color: transparent;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.gallery-first,
.gallery-second {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.gallery-first-imgs,
.gallery-second-imgs {
    width: 100%;
    height: 33.33vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.copyright {
    order: 2;
}

.toTop {
    order: 1;
    color: #38DCC8;
    font-size: 2rem;
    cursor: pointer;
}

.toTop:hover {
    transition: .3s;
    opacity: .7;
    color: #38DCC8;
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .aboutMe {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .aboutMe-photoWithBorder {
        width: 45%;
        height: 400px;
    }

    .aboutMe-text {
        width: 45%;
    }

    .gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .gallery-first,
    .gallery-second {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .gallery-first-imgs,
    .gallery-second-imgs {
        flex-basis: 33.33%;
        height: 50vh;
    }

    footer {
        flex-direction: row;
    }

    .copyright {
        order: 1;
    }

    .toTop {
        order: 2;
    }
}

.gallery-first-imgs:hover,
.gallery-second-imgs:hover {
    transition: .3s;
    opacity: .4;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-img {
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon:focus {
    outline: none;
}

.transperant {
    transition: .3s;
    background-color: rgba(255, 255, 255, 0)
}

.invisible {
    display: none;
}

.move {
    transition: .4s;
    transform: translate(-100%, -100%) scale(.10, .10);
}

.nullHeight {
    height: 0;
    padding: 0;
    margin: 0;
}