html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    background-color: #38DCC8;
}

header {
    height: 66px;
}

section {
    margin: 30px 0;
    background-color: #38DCC8;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section:first-of-type {
    height: 310px;
}

.backLink {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
}

.backLink:hover {
    transition: .3s;
    opacity: .7;
}

section h1 {
    max-width: 1000px;
    width: 100%;
    border: 9px solid #fff;
    margin: 30px 0;
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #38DCC8;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000a2;
    font-size: 1.1rem;
}

svg {
    fill: #000000a2;
}

svg:hover {
    fill: #38DCC8;
}

h2 {
    max-width: 1000px;
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0 10px;
}

p {
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 10px;

}

.about {
    max-width: 1000px;
    width: 100%;
    font-size: 1rem;
}

.content {
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-video {
    width: 100%;
    box-sizing: border-box;
}

.content-text {
    width: 100%;
    box-sizing: border-box;
}

footer {
    flex-direction: column-reverse;
    color: #38DCC8;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 576px) {
    footer {
        flex-direction: row;
    }

    h2 {
        text-align: left;
    }

    .about {
        display: flex;
        align-items: flex-end;
        flex-direction: column
    }

    p {
        color: #fff;
        font-size: 1.5rem;
        width: 100%;
        max-width: 800px;
        text-align: left;
    }

    .content {
        justify-content: space-between;
        flex-direction: row;
    }

    .content-video {
        width: 48%;
    }

    .content-text {
        width: 45%;
    }
}